<!DOCTYPE html>
<html>

<head>
  <title>Weather</title>
  <link rel="shortcut icon" href="../images/drizzle.png" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header class="p-3">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        
        <a href="/" class="d-flex align-items-baseline justify-content-center mb-2 mb-lg-0 text-white text-decoration-none">
          <!-- <img src="../images/drizzle.png" width="40" height="32" alt=""> -->
          <i class="bi bi-cloud-sun text-dark fs-2"></i>
          <h2 href="/" class=" px-2 text-black fw-bold fs-4">SunCloud</h2>
        </a>

        <form action="/weather" method="post" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 d-flex gap-2"
          role="search">
          <input name="city" type="search" class="form-control form-control-dark text-dark" placeholder="Search..."
            aria-label="Search">

          <div class="text-end">
            <button type="submit" class="btn btn-outline-dark me-2">Search</button>

          </div>
        </form>
      </div>
    </div>
  </header>

  <div class="container-lg">


    <div class="row m-auto">
      <div
        class="col-12 col-lg-6 d-flex flex-column justify-content-center justify-content-lg-start align-items-center align-items-lg-start">
        <div
          class="d-flex flex-column justify-content-center justify-content-lg-start align-items-center align-items-lg-start p-5 gap-3">
          <h1 class="text-center text-lg-start display-1">
            <% if(city_name !==null){ %>
              <%= city_name %>
                <% } %>
          </h1>

          <img class="img-fluid w-25" src="https://openweathermap.org/img/wn/<%=cloud_icon%>@2x.png" alt="">


          <div class="d-flex align-items-baseline">

            <% if(temp !==null){ %>
              <h3 id="mob-temp" class="display-3 fw-medium">
                <%= temp %>°
              </h3>
              <% } %>

                <% if(cloud_description !==null){ %>
                  <h3 style="font-size: 1.5rem;">
                    <%= cloud_description %>
                  </h3>
                  <% } %>
          </div>
          <div class="d-flex gap-1">
            <h5>High: <% if(temp_min !==null){ %>
                <%= temp_min %>°
                  <% } %>
            </h5>
            <h5>Low: <% if(temp_max !==null){ %>
                <%= temp_max %>°
                  <% } %>
            </h5>

          </div>

          <div class="align-self-baseline mt-4">
            <% if(date !==null){ %>
              <h3>
                <%= date %>
              </h3>
              <% } %>

                <% if(error !==null){ %>
                  <p>
                    <%= error %>
                  </p>
                  <% } %>
          </div>

        </div>
      </div>
      <div class="col-12 col-lg-6 d-flex flex-wrap">
        <div class="row col-12">
          <div class="col-12 col-lg-6">
            <div class="card mb-2 mt-4" style="border-radius: 25px;">
              <div class="card-body p-4">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <i class="bi bi-thermometer-half" style="font-size: 50px;"></i>
                  </div>
                  <div>
                    <h4 class="text-end"><strong>
                        <% if(feels_like !==null){ %>
                          <%= feels_like %>
                            <% } %>
                      </strong></h4>
                    <p class="text-muted mb-0">Feels Like</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="card mb-2 mt-4" style="border-radius: 25px;">
              <div class="card-body p-4">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <i class="bi bi-wind" style="font-size: 50px;"></i>
                  </div>
                  <div>
                    <h4 class="text-end"><strong>
                        <% if(wind_speed !==null){ %>
                          <%= wind_speed %>
                            <% } %>
                      </strong></h4>
                    <p class="text-muted mb-0">WSW Wind</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>


        <div class="row col-12">
          <div class="col-12 col-lg-6">
            <div class="card my-2 " style="border-radius: 25px;">
              <div class="card-body p-4">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <i class="bi bi-moisture" style="font-size: 50px;"></i>
                  </div>
                  <div>
                    <h4 class="text-end"><strong>
                        <% if(humidity !==null){ %>
                          <%= humidity %>
                            <% } %>
                      </strong></h4>
                    <p class="text-muted mb-0">Humidity</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="card my-2 " style="border-radius: 25px;">
              <div class="card-body p-4">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <i class="bi bi-cloud-haze2" style="font-size: 50px;"></i>
                  </div>
                  <div>
                    <h4 class="text-end"><strong>
                        <% if(visibility !==null){ %>
                          <%= visibility %>
                            <% } %>
                      </strong></h4>
                    <p class="text-muted mb-0">Visibility</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row col-12">
          <div class="col-12 col-lg-6">
            <div class="card my-2 " style="border-radius: 25px;">
              <div class="card-body p-4">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <i class="bi bi-speedometer2" style="font-size: 50px;"></i>
                  </div>
                  <div>
                    <h4 class="text-end"><strong>
                        <% if(pressure !==null){ %>
                          <%= pressure %>
                            <% } %>
                      </strong></h4>
                    <p class="text-muted mb-0">Air Pressure</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="card my-2 " style="border-radius: 25px;">
              <div class="card-body p-4">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <i class="bi bi-cloud" style="font-size: 50px;"></i>
                  </div>
                  <div>
                    <h5 class="text-end"><strong>
                        <% if(cloud_description !==null){ %>
                          <%= cloud_description %>
                            <% } %>
                      </strong></h5>
                    <p class="text-muted mb-0 text-end">Clouds</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row col-12">
          <div class="col-12">
            <div class="card my-2 " style="border-radius: 25px;">
              <div class="card-body d-flex justify-content-between px-4">
                <div class="d-flex flex-column justify-content-between align-items-center">
                  <div class="d-flex flex-column justify-content-between align-items-start">
                    <div class="my-2">
                      <i class="bi bi-sunrise" style="font-size: 50px;"></i>
                    </div>
                    <p class="text-muted mb-0">Sun Rise</p>

                    <p class="text-start">
                      <% if(sunrisetime !==null){ %>
                        <%= sunrisetime %>
                          <% } %>
                    </p>
                  </div>
                </div>
                <div class="d-flex flex-column justify-content-between align-items-center">
                  <div class="d-flex flex-column justify-content-center align-items-end">
                    <div class="my-2">
                      <i class="bi bi-sunset" style="font-size: 50px;"></i>
                    </div>
                    <p class="text-muted mb-0">Sun Set</p>
                    <p class="text-end">
                      <% if(sunsettime !==null){ %>
                        <%= sunsettime %>
                          <% } %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="/javascripts/app.js"></script>
</body>

</html>